body.home {
    background: #092231;
}
body.intro {
    background: #092231;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}


input {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-decoration: none;
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}